@media only screen and (max-width: 835px) {
    
}


@media only screen and (max-width: 584px) {
    .navbar{
        width: 100%;
       background-color: rgba(239, 238, 245, 0.397);
        position: fixed;
        display: none;
        filter: drop-shadow(blur);
        top: 80px;
        height: 100%;
        padding-inline: 10px;
        align-content: center;
        justify-items: center;  
        border-radius: 40px;
    }
    .nav ul{
    display: flex;
    position: relative;
    gap: 2rem;
    flex-direction: column;
}
    .nav a{
  align-content: center;
  justify-content: center;
  font-size: 2rem;
}
}