@media only screen and (max-width: 835px) {

}


@media only screen and (max-width: 584px) {
 .nav{
   display: none;
 
 }
 .nav ul li{
    padding: 20px;
 }
 .menu-bar{
    display: block;
 }
 #check:checked~.menu-bar #open-menu{
    display: none;
 }
  #check:checked~.menu-bar #close-menu{
    display: block;
 }
  #check:checked~.nav #navbar{
    top: 70px;
 }
 /* Home section */
 
.home-section{
    flex-direction: column-reverse;
}
.text-box{
    flex-wrap: wrap;
}
}


